<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="../../static/js/main.js"></script>
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css">
</head>
<body>
<div class="container py-5">
    <div class="col-6 d-flex">
        <form id="create-form" class="form-control" style="display: none">
            <input type="hidden" name="blogId" id="blogId">
            <div class="mb-3 ">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" id="title" name="title">
            </div>
            <div class="mb-3 ">
                <label for="content" class="form-label ">Content</label>
                <input type="text" class="form-control" id="contentBlog" name="content">
            </div>
            <div class="mb-3 ">
                <label for="category" class="form-label ">Category</label>
                <select class="form-select" id="category" name="category">

                </select>
            </div>
            <button type="button" id="create-save-btn" class="btn btn-primary" onclick="createBlog()">Save</button>
            <button style="display: none" type="button" id="update-save-btn" class="btn btn-primary" onclick="updateBlog()">Update</button>
        </form>
        <form class="col-6">
            <div class="mb-3 d-flex justify-content-between ">
                <label for="keyword" class="form-label">Search</label>
                <input type="text" class="form-control" id="keyword">
                <label for="category" class="form-label ">Category</label>
                <select class="form-select" id="categoryId" name="categoryId">
                </select>
                <button type="button" class="btn btn-primary" onclick="search()">Search</button>
                <button type="button" class="btn btn-primary" onclick="display(0)">Reset</button>
            </div>

        </form>

    </div>
    <button id="toggle-create-form-btn" class="btn btn-primary mb-3" onclick="showCreateForm()">Create</button>


    <table class="table table-bordered table-striped table-hover table-responsive">
        <thead>
        <tr>
            <th>Title</th>
            <th>Content</th>
            <th>Category</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody id="content">
        </tbody>
    </table>

    <ul id="pagination" class="pagination"></ul>
</div>


</body>
</html>