<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <div th:replace="layout/layout::library"></div>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a th:href="@{/categories/add}" class="btn btn-warning">Create new category</a>
<a th:href="@{/blogs}" class="btn btn-warning">Back</a>

<table class="table table-stripped table-bordered">
    <tr class="table-header">
        <th>ID</th>
        <th>Name</th>
        <th>Action</th>
    </tr>
    <tr th:each="category,status : ${categories}">
        <td th:text="${status.count}"></td>
        <td th:text="${category.name}"></td>
        <td>
            <a th:href="@{/categories/delete(id=${category.id})}" class="btn btn-danger">Delete</a>
            <a th:href="@{/categories/update(id=${category.id})}" class="btn btn-primary">Update</a>
        </td>
    </tr>
</table>
</body>
</html>